@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>This is Entity Extracter Tool</h2>
        <p>
            For more information about the entities, please click the button!
        </p>
        <div>
            @Html.ActionLink("Entity Info", "ShowEntityInformation", "Home")
        </div>
    </div>
</div>
