@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">This is Entity Extracter Tool</h2>
        <p class="text-center">
            For more information about the entities, please click the button!
        </p>
        <div>
            @Html.ActionLink("Added Entities", "AddedEntities", "Home", null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
</div>
