@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center">This is Entity Extracter Tool</h2>
<p class="text-center">
    For more information about the entities, please click the button!
</p>

<div class="text-center">
    @Html.ActionLink("Added Entities", "AddedEntities", "Home", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Updated Entities", "UpdatedEntities", "Home", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Removed Entities", "RemovedEntities", "Home", null, new { @class = "btn btn-primary" })
</div>
